<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>관리자 화면</title>
    <style>
        .list table {
            width: 100%;
            border-collapse: collapse;
        }
        .list table th, list table td {
            border: solid 1px #000;
        }
    </style>
</head>
<body>
    <h1>관리자 회원 관리</h1>
    <div th:replace="/fragments/layout-admin.html :: fragment-body-menu-admin"></div>
    <div class="list">
        <table>
            <thead>
                <tr>
                    <th>NO</th>
                    <th>아이디(이메일)</th>
                    <th>이름</th>
                    <th>연락처</th>
                    <th>이메일 인증 여부</th>
                    <th>가입일</th>
                    <th>관리자 여부</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>